.Container {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: -90px;
    position: relative;
}

.Car {
    width: 85%; height: 100%;
    object-fit: cover;
}

.WheelContainer {
    position: absolute;
    top: 165px;
    right: 9px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.Wheel {
    width: 80px;
    height: 80px;
}

.SlowSpeed {
    -webkit-animation: spin 1s infinite linear;
}

.MediumSpeed {
    -webkit-animation: spin 0.5s infinite linear;
}

.HighSpeed {
    -webkit-animation: spin 0.2s infinite linear;
}

.Right {
    margin-left: 270px;
}

.Left {
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(-360deg);}   
}
